# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
.DS_Store
example/lib/generated_plugin_registrant.dart

.flutter-plugins
.flutter-plugins-dependencies

# FVM Version Cache
.fvm/

# Credentials
**/test_credentials.dart
**/test_credentials_local.dart

# On-device ML models (downloaded via scripts/download_models.sh)
**/models/kokoro/
**/models/whisperkit/
*.safetensors
*.mlmodelc
*.mlpackage

.python-version

# Personal/local files
*_lee
*_lee.*
